<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <!--========== BOX ICONS ==========-->
        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />

        <!--========== CSS ==========-->
        <link
            rel="stylesheet"
            href="/css/styles.css"
        />

        <title>CodingWeb - Think, Build & Grow</title>
        <!-- Basic -->
        <meta
            name="author"
            content="CodingWeb"
        />
        <meta
            name="description"
            content="IT Services and Support Company in Mohali, Ludhiana."
        />
        <meta
            name="keywords"
            content="top website design and development company,software services design and development company, best web design and development company, web design and development services, custom web development company,custom mobile app development company"
        />
        <meta
            name="author"
            content="CodingWeb"
        />
        <meta
            property="og:title"
            content="CodingWeb - Think, Build & Grow"
        />
        <meta
            property="og:description"
            content="CodingWeb is a global, young and leading web and mobile app development company that offers design and development services to help your all businesses transform digitally."
        />
        <meta
            property="og:type"
            content="website"
        />
        <meta
            property="og:locale"
            content="en_US"
        />
        <meta
            property="og:url"
            content="//codingweb.io"
        />
        <meta
            name="theme-color"
            content="#ffffff"
        />
        <meta
            property="og:image"
            content="//codingweb.io/images/og.jpeg"
        />
        <meta
            itemprop="name"
            content="CodingWeb"
        />
        <meta
            itemprop="description"
            content="CodingWeb is a global, young and leading web and mobile app development company that offers design and development services to help your all businesses transform digitally."
        />
        <meta
            itemprop="image"
            content="//codingweb.io/images/logo-icon-lg.png"
        />
        <link
            rel="canonical"
            href="https://codingweb.io/"
        />
        <meta
            itemprop="publisher"
            content="CodingWeb"
        />
        <meta
            itemprop="url"
            content="//codingweb.io"
        />
        <meta
            itemprop="editor"
            content="CodingWeb"
        />
        <meta
            itemprop="headline"
            content="CodingWeb"
        />
        <meta
            itemprop="inLanguage"
            content="English"
        />
        <meta
            itemprop="articleSection"
            content="CodingWeb"
        />
        <meta
            itemprop="sourceOrganization"
            content="CodingWeb"
        />
        <meta
            itemprop="keywords"
            content="top website design and development company, best web design and development company, web design and development services, custom web development company"
        />
        <meta
            name="DC.title"
            content="CodingWeb - Think, Build & Grow"
        />
        <meta
            name="dc.source"
            content="//codingweb.io"
        />
        <meta
            name="dc.keywords"
            content="top website design and development company,software services design and development company, best web design and development company, web design and development services, custom web development company,custom mobile app development company"
        />
        <meta
            name="dc.subject"
            content="CodingWeb"
        />
        <meta
            name="dc.description"
            content="CodingWeb is a global, young and leading web and mobile app development company that offers design and development services to help your all businesses transform digitally."
        />
        <meta
            name="DC.Type"
            content="Web Application Development"
        />
    </head>

    <body>
        <!--========== SCROLL TOP ==========-->
        <a
            href="#"
            class="scrolltop"
            id="scroll-top"
        >
            <i class="bx bx-chevron-up scrolltop__icon"></i>
        </a>

        <!--========== HEADER ==========-->
        <header
            class="l-header"
            id="header"
        >
            <nav class="nav bd-container">
                <div style="height:55px;width:180px;margin-left:40px;">
                <img
                    src="/img/logo.png"
                    alt=""
                        class="home__img"
                    />
                </div>
                <div
                    class="nav__menu"
                    id="nav-menu"
                >
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a
                                href="#home"
                                class="nav__link active-link"
                                >Home</a
                            >
                        </li>
                        <li class="nav__item">
                            <a
                                href="#about"
                                class="nav__link"
                                >About</a
                            >
                        </li>
                        <li class="nav__item">
                            <a
                                href="#services"
                                class="nav__link"
                                >Services</a
                            >
                        </li>
                        <li class="nav__item">
                            <a
                                href="#menu"
                                class="nav__link"
                                >Our Clients</a
                            >
                        </li>
                        <li class="nav__item">
                            <a
                                href="#contact"
                                class="nav__link"
                                >Contact us</a
                            >
                        </li>

                        <li>
                            <i
                                class="bx bx-moon change-theme"
                                id="theme-button"
                            ></i>
                        </li>
                    </ul>
                </div>

                <div
                    class="nav__toggle"
                    id="nav-toggle"
                >
                    <i class="bx bx-menu"></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section
                class="home"
                id="home"
            >
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">Think, Build</h1>
                        <h1 class="home__title">& Grow</h1>
                        <h2 class="home__subtitle">A place where ideas turns into reality</h2>
                        <a
                            href="#contact"
                            class="button"
                            >Got an Idea ? Hire us!</a
                        >
                    </div>

                    <img
                        src="/img/home.svg"
                        alt=""
                        class="home__img"
                    />
                </div>
            </section>

            <!--========== ABOUT ==========-->
            <section
                class="about section bd-container"
                id="about"
            >
                <div class="about__container bd-grid">
                    <div class="about__data">
                        <h1 class="section-subtitle about__initial">About us</h1>
                        <p class="about__description">
                            CodingWeb is a cutting-edge web and mobile app development company renowned for its global
                            presence and unwavering commitment to digital transformation. Our dedicated team of skilled
                            professionals is driven by a passion for innovation and consistently delivers top-notch
                            design and development services to clients worldwide.
                        </p>
                        <p class="about__description">
                            With an impressive portfolio of international projects, CodingWeb has earned a reputation
                            for excellence in the industry. We take pride in our ability to understand and meet the
                            unique requirements of each client, ensuring that their digital initiatives are not only met
                            but exceeded. From startups to established enterprises, we have successfully partnered with
                            diverse businesses, helping them navigate the digital landscape and achieve their goals.
                        </p>
                        <p class="about__description">
                            At CodingWeb, we prioritize timely project delivery without compromising on quality. Our
                            team thrives on challenges and consistently goes above and beyond to deliver exceptional
                            results within the given timeline.Partner with CodingWeb today and experience the
                            professionalism, expertise, and transformative solutions that have made us a trusted name in
                            the industry. Let us empower your business to thrive in the digital era and unlock its true
                            potential.
                        </p>
                        <!-- <a href="#" class="button">Explore history</a> -->
                    </div>

                    <img
                        src="/img/about.svg"
                        alt=""
                        class="about__img"
                    />
                </div>
            </section>

            <!--========== SERVICES ==========-->
            <section
                class="services section bd-container"
                id="services"
            >
                <!-- <span class="section-subtitle">Offering</span> -->
                <h2 class="section-title">Our amazing services</h2>

                <div class="services__container bd-grid">
                    <div class="services__content">
                        <svg
                            version="1.1"
                            class="services__img"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 502.664 502.664"
                            style="enable-background: new 0 0 502.664 502.664"
                            xml:space="preserve"
                        >
                            <g>
                                <g>
                                    <g>
                                        <path
                                            d="M310.166,397.593H75.951V61.671h234.151v25.13h31.472V54.811C341.595,24.677,316.853,0,286.74,0H99.355
                                            C69.199,0,44.522,24.677,44.522,54.811v393.02c0,30.178,24.677,54.833,54.833,54.833H286.74
                                            c30.113,0,54.855-24.655,54.855-54.833V397.01h-31.429C310.166,397.01,310.166,397.593,310.166,397.593z M193.015,475.226
                                            c-13.892,0-25.108-11.238-25.108-25.108c0-13.913,11.217-25.13,25.108-25.13c13.913,0,25.152,11.238,25.152,25.13
                                            C218.167,463.988,206.929,475.226,193.015,475.226z"
                                        />
                                        <rect
                                            x="102.785"
                                            y="95.386"
                                            width="70.256"
                                            height="42.84"
                                        />
                                        <rect
                                            x="102.785"
                                            y="205.073"
                                            width="70.256"
                                            height="42.84"
                                        />
                                        <rect
                                            x="102.785"
                                            y="319.873"
                                            width="70.256"
                                            height="42.818"
                                        />
                                        <path
                                            d="M422.399,223.905c-2.481-12.986-7.507-25.001-14.625-35.506l25.195-25.216l-25.734-25.648l-25.152,25.173
                                            c-10.462-7.161-22.541-12.123-35.484-14.625v-35.7h-36.411v35.7c-12.964,2.502-24.936,7.485-35.505,14.625l-25.108-25.173
                                            l-25.734,25.669l25.152,25.216c-7.097,10.505-12.101,22.52-14.582,35.484h-35.657v36.39h35.656
                                            c2.481,12.921,7.507,24.936,14.603,35.484l-25.173,25.173l25.734,25.626l25.173-25.152c10.527,7.161,22.541,12.144,35.505,14.668
                                            v35.635h36.411v-35.656c12.942-2.481,24.936-7.507,35.484-14.625l25.152,25.152l25.734-25.648l-25.195-25.173
                                            c7.118-10.505,12.123-22.541,14.625-35.505h35.678l0,0v-36.368H422.399z M328.437,281.693c-21.894,0-39.669-17.688-39.669-39.604
                                            c0-21.894,17.774-39.69,39.669-39.69c21.916,0,39.604,17.774,39.604,39.69C368.041,264.026,350.309,281.693,328.437,281.693z"
                                        />
                                    </g>
                                </g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                        </svg>

                        <h3 class="services__title">Web & Mobile Apps</h3>
                        <p class="services__description">
                            Our skilled development team leverages the latest technologies including React, Angular,
                            Flutter, React Native, and Next.js to create cutting-edge web, Android, and iOS apps. With a
                            strong focus on security and responsive design, our applications run seamlessly across all
                            devices
                        </p>
                    </div>

                    <div class="services__content">
                        <svg
                            class="services__img"
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 122.88 121.86"
                            style="enable-background: new 0 0 122.88 121.86"
                            xml:space="preserve"
                        >
                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                }
                            </style>
                            <g>
                                <path
                                    class="st0"
                                    d="M61.44,0.01c3.27-0.14,5.85,1,8.45,2.65c3.3,2.09,7.02,6.23,11.61,8.85c6.45,3.69,18.41-1.4,24.53,7.7 c3.57,5.3,3.74,9.46,4,13.57c0.29,4.43,1.06,8.51,5.6,14.51c7.51,9.93,9.07,16.54,5.2,23.43c-2.64,4.7-8.19,7.31-9.48,10.28 c-2.73,6.33,0.29,11.1-3.45,18.48c-2.6,5.12-6.61,8.49-11.95,10.21c-4.5,1.45-9.03-0.65-12.63,0.87 c-6.34,2.66-11.01,8.85-16.06,10.42c-1.95,0.6-3.89,0.9-5.82,0.89c-1.94,0.01-3.88-0.28-5.82-0.89 c-5.04-1.57-9.72-7.75-16.06-10.42c-3.61-1.52-8.13,0.58-12.63-0.87c-5.34-1.72-9.35-5.09-11.95-10.21 C11.23,92.1,14.26,87.33,11.52,81c-1.29-2.97-6.84-5.58-9.48-10.28c-3.87-6.89-2.3-13.5,5.2-23.43c4.54-6,5.31-10.08,5.6-14.51 c0.27-4.11,0.43-8.27,4-13.57c6.12-9.1,18.08-4.01,24.53-7.7c4.59-2.62,8.3-6.76,11.61-8.85C55.59,1.01,58.17-0.13,61.44,0.01 L61.44,0.01z M50.83,53.9l7.86,7.48l13.53-13.75c1.34-1.36,2.18-2.45,3.83-0.75l5.36,5.49c1.76,1.74,1.67,2.76,0.01,4.38 L61.75,76.06c-3.5,3.43-2.89,3.64-6.44,0.12L41.81,62.75c-0.74-0.8-0.66-1.61,0.15-2.41l6.22-6.45 C49.11,52.91,49.86,52.97,50.83,53.9L50.83,53.9z M61.26,27.57c18.95,0,34.3,15.36,34.3,34.3c0,18.95-15.36,34.3-34.3,34.3 c-18.95,0-34.3-15.36-34.3-34.3C26.96,42.92,42.32,27.57,61.26,27.57L61.26,27.57z"
                                />
                            </g>
                        </svg>
                        <h3 class="services__title">Quality Check</h3>
                        <p class="services__description">
                            Quality is our top priority at GeekSquare, and we employ robust quality assurance. We offer
                            our clients excellent quality services for many years, with best quality checks before any
                            delivery of the product. All our products goes into internal quality checks to assure our
                            promise to the client.
                        </p>
                    </div>

                    <div class="services__content">
                        <svg
                            class="services__img"
                            version="1.1"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 466 466"
                            style="enable-background: new 0 0 466 466"
                            xml:space="preserve"
                        >
                            <style type="text/css"></style>
                            <path
                                class="st0"
                                d="M372.7,236.5c-2.7-3.5-7.7-4.3-11.2-1.6c-1.7,1.3-2.8,3.2-3.1,5.3l-4.4,31.1c-0.1,0.4-0.2,0.8-0.4,1.2
                                c8.2-10.8,14.7-22.8,19.6-35.4L372.7,236.5z M346,278.2c-0.4,0-0.8,0-1.1-0.1l-47.5-6.8c-4.4-0.6-7.4-4.7-6.8-9.1l0,0l4.4-31.1
                                c0.6-4.4-2.4-8.4-6.8-9c-2.1-0.3-4.2,0.2-5.9,1.5l-25.2,18.9c-3.5,2.7-8.5,1.9-11.2-1.6l0,0l-28.8-38.4c-2.7-3.5-1.9-8.5,1.6-11.2
                                l25.1-18.9c3.5-2.7,4.3-7.7,1.6-11.2c-1.3-1.7-3.2-2.8-5.3-3.1l-31.1-4.4c-4.4-0.6-7.4-4.7-6.8-9l0,0l6.8-47.5
                                c0.6-4.4,4.7-7.4,9-6.8l0,0l31.1,4.4c3.2,0.5,6.4-1.1,8-3.8c1.7-2.8,1.5-6.3-0.5-8.9L238,56.9c-2.7-3.5-1.9-8.5,1.6-11.2l4.5-3.4
                                c-7.3-0.4-14.7-0.2-22,0.6c-79,9-135.8,80.4-126.7,159.4c4.9,43,28.9,81.6,65.4,104.9c13.3,8.3,21.5,22.8,21.7,38.4V378
                                c0,13.3,10.7,24,24,24h64c13.3,0,24-10.7,24-24v-31.7c0.2-16,8.6-30.9,22.2-39.4c12.6-8.2,23.9-18.3,33.4-29.9
                                C348.8,277.8,347.5,278.2,346,278.2z M246.5,378h-16v-24h16V378z M230.5,338c0-21.2-13-40.1-32.8-47.7
                                c-57.6-22.5-86-87.5-63.5-145.1c8.7-22.3,24.4-41.2,44.6-54l8.5,13.5c-44.9,28.2-58.4,87.5-30.1,132.4
                                c10.9,17.4,27.2,30.8,46.3,38.3c25.9,9.9,43,34.8,43,62.6L230.5,338L230.5,338z M206.5,442v8c0,8.8,7.2,16,16,16h32
                                c8.8,0,16-7.2,16-16v-8H206.5z M156.5,314c-4.7-3.1-9.3-6.4-13.7-10c-12.1,23.5-40.9,32.8-64.4,20.7c-16-8.2-26-24.7-26-42.7
                                c0-24.2,18.1-44.6,42-47.6c-2.9-8.8-5.1-17.9-6.3-27.1l-1.4,6.7c-1.8,8.6-10.3,14.2-19,12.4c-2.1-0.4-4-1.3-5.8-2.5l-16.6-11.4
                                L30.7,227l11.5,16.7c5,7.3,3.2,17.2-4.1,22.3c-1.7,1.2-3.7,2-5.8,2.5l-19.9,4.2v19l19.9,4.2c8.6,1.8,14.2,10.3,12.4,19
                                c-0.4,2.1-1.3,4-2.5,5.8L30.8,337l14.6,14.5L62,340.1c7.3-5,17.2-3.2,22.3,4.1c1.2,1.7,2,3.7,2.5,5.8l4.2,20h19l4.2-19.9
                                c1.8-8.6,10.3-14.2,19-12.4c2.1,0.4,4,1.3,5.8,2.5l16.6,11.4l17.2-17.2C169.7,326,164,318.8,156.5,314z M206.5,410h64v16h-64V410z
                                M438.3,137.9c-13.1-1.9-22.2-14-20.4-27.2c0.9-6.3,4.3-12,9.4-15.8l18.7-14l-19.2-25.6l-18.7,14.1c-10.6,8-25.6,5.8-33.6-4.8
                                c-3.8-5.1-5.5-11.5-4.6-17.8l3.3-23.2l-31.7-4.5l-3.3,23.2c-1.9,13.1-14,22.2-27.2,20.4c-6.3-0.9-12-4.3-15.8-9.4l-14.1-18.8
                                l-25.6,19.2l14.1,18.7c8,10.6,5.8,25.6-4.8,33.6c-5.1,3.8-11.5,5.5-17.8,4.6l-23.2-3.3l-4.5,31.7l23.2,3.3
                                c13.1,1.9,22.2,14,20.4,27.2c-0.9,6.3-4.3,12-9.4,15.8l-18.7,14.1L254,225l18.7-14.1c10.6-8,25.6-5.8,33.6,4.8
                                c3.8,5.1,5.5,11.5,4.6,17.8l-3.3,23.2l31.7,4.5l3.3-23.2c1.9-13.1,14-22.2,27.2-20.4c6.3,0.9,12,4.3,15.8,9.4l14.1,18.7l25.6-19.2
                                l-14.1-18.8c-8-10.6-5.8-25.6,4.8-33.6c5.1-3.8,11.5-5.5,17.8-4.6l23.2,3.3l4.5-31.7L438.3,137.9z M340.4,188.1
                                c-26.5,0-48-21.5-48-48s21.5-48,48-48s48,21.5,48,48S366.9,188.1,340.4,188.1z M390.5,298h56v16h-56V298z M377.4,352.1l10.2-12.3
                                l48,40l-10.2,12.3L377.4,352.1z M342.5,362h16v56h-16V362z M4.6,138.2l64-16l3.9,15.5l-64,16L4.6,138.2z M17.8,56.5l9.3-13l56,40
                                l-9.3,13L17.8,56.5z M86.4,4l15.5-4l16.4,64l-15.5,4L86.4,4z"
                            />
                        </svg>
                        <h3 class="services__title">Continuous Support and Maintenance</h3>
                        <p class="services__description">
                            Our commitment to our clients goes beyond project delivery. We provide ongoing support and
                            maintenance services to ensure that our apps run smoothly and efficiently. From bug fixes to
                            feature enhancements, we are dedicated to helping our clients achieve long-term success.
                        </p>
                    </div>

                    <div class="services__content">
                        <svg
                            version="1.1"
                            id="Capa_1"
                            class="services__img"
                            x="0px"
                            y="0px"
                            viewBox="0 0 122.88 110.98"
                            style="enable-background: new 0 0 122.88 110.98"
                            xml:space="preserve"
                            width="24"
                            height="24"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                }
                            </style>
                            <g>
                                <path
                                    class="st0"
                                    d="M7.51,0h107.85c2.05,0,3.93,0.85,5.29,2.21v0l0.01,0.01l0.01,0.01l0.01,0.01c1.36,1.37,2.2,3.24,2.2,5.29 v103.28c0,2.07-0.85,3.95-2.21,5.31c-1.36,1.36-3.24,2.21-5.31,2.21H7.51c-2.05,0-3.93-0.84-5.3-2.21l-0.01-0.01l-0.01-0.01 l-0.01-0.01c-1.36-1.37-2.2-3.24-2.2-5.29V7.51C0,5.44,0.84,3.56,2.2,2.2c0.08-0.08,0.16-0.16,0.25-0.23C3.79,0.75,5.57,0,7.51,0 L7.51,0z M65.79,98.75c-1.58,0-2.86-1.39-2.86-3.11c0-1.72,1.28-3.11,2.86-3.11h35.22c1.58,0,2.86,1.39,2.86,3.11 c0,1.72-1.28,3.11-2.86,3.11H65.79L65.79,98.75z M20.82,98.75c-1.56,0-2.83-1.39-2.83-3.11c0-1.72,1.27-3.11,2.83-3.11h32.65 c1.56,0,2.83,1.39,2.83,3.11c0,1.72-1.27,3.11-2.83,3.11H20.82L20.82,98.75z M19.69,85.16c-1.56,0-2.83-1.39-2.83-3.11 c0-1.72,1.27-3.11,2.83-3.11h32.65c1.56,0,2.83,1.39,2.83,3.11c0,1.72-1.27,3.11-2.83,3.11H19.69L19.69,85.16z M65.79,85.16 c-1.58,0-2.86-1.39-2.86-3.11c0-1.72,1.28-3.11,2.86-3.11h35.22c1.58,0,2.86,1.39,2.86,3.11c0,1.72-1.28,3.11-2.86,3.11H65.79 L65.79,85.16z M17.59,34.77h85.94v33.65H17.59V34.77L17.59,34.77z M116.09,26.93c-0.24,0.04-0.48,0.06-0.72,0.06H7.51 c-0.25,0-0.49-0.02-0.72-0.06v83.86c0,0.2,0.08,0.38,0.2,0.51l0,0l0.01,0.01c0.13,0.13,0.3,0.2,0.51,0.2h107.85 c0.19,0,0.37-0.08,0.51-0.22c0.13-0.13,0.22-0.31,0.22-0.51V26.93L116.09,26.93z M50.12,9.7c2.7,0,4.88,2.19,4.88,4.88 s-2.19,4.88-4.88,4.88s-4.88-2.19-4.88-4.88S47.43,9.7,50.12,9.7L50.12,9.7z M33.05,9.7c2.7,0,4.88,2.19,4.88,4.88 s-2.19,4.88-4.88,4.88c-2.7,0-4.88-2.19-4.88-4.88S30.36,9.7,33.05,9.7L33.05,9.7z M15.99,9.7c2.7,0,4.88,2.19,4.88,4.88 s-2.19,4.88-4.88,4.88c-2.7,0-4.88-2.19-4.88-4.88S13.29,9.7,15.99,9.7L15.99,9.7z"
                                />
                            </g>
                        </svg>
                        <h3 class="services__title">UI/UX Design Excellence</h3>
                        <p class="services__description">
                            we understand the importance of creating an exceptional user experience. Our talented design
                            team works closely with clients to craft intuitive and visually appealing interfaces that
                            captivate users and enhance engagement.
                        </p>
                    </div>

                    <div class="services__content">
                        <svg
                            version="1.1"
                            id="Capa_1"
                            class="services__img"
                            x="0px"
                            y="0px"
                            viewBox="0 0 122.88 110.98"
                            style="enable-background: new 0 0 122.88 110.98"
                            xml:space="preserve"
                            width="24"
                            height="24"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                }
                            </style>
                            <g>
                                <path
                                    class="st0"
                                    d="M0,42.92h24.83V87.1H0V42.92L0,42.92z M85.36,20.49c9.01,0,16.32,7.3,16.32,16.32 c0,9.01-7.3,16.32-16.32,16.32c-9.01,0-16.32-7.3-16.32-16.32C69.04,27.8,76.34,20.49,85.36,20.49L85.36,20.49z M56.72,0 C64.49,0,70.8,6.3,70.8,14.08c0,7.77-6.3,14.08-14.08,14.08c-7.77,0-14.08-6.3-14.08-14.08C42.64,6.31,48.94,0,56.72,0L56.72,0z M58.15,17.07c0-0.46-0.11-0.81-0.34-1.07c-0.23-0.26-0.62-0.5-1.18-0.73c-0.56-0.23-1.08-0.46-1.55-0.69 c-0.47-0.24-0.89-0.51-1.23-0.82c-0.35-0.31-0.61-0.67-0.79-1.07c-0.19-0.41-0.27-0.9-0.27-1.48c0-0.97,0.33-1.77,0.98-2.39 c0.65-0.62,1.52-1,2.61-1.1v-1.3h1.37v1.33c1.05,0.15,1.88,0.58,2.48,1.29c0.6,0.71,0.9,1.61,0.9,2.69H58.2 c0-0.6-0.12-1.06-0.35-1.38c-0.23-0.32-0.56-0.48-0.98-0.48c-0.38,0-0.68,0.12-0.88,0.35c-0.21,0.24-0.31,0.57-0.31,0.98 c0,0.42,0.12,0.76,0.36,1.01c0.25,0.25,0.63,0.49,1.16,0.72c0.53,0.23,1.04,0.46,1.51,0.7c0.47,0.25,0.88,0.52,1.22,0.83 c0.35,0.31,0.62,0.68,0.81,1.09c0.19,0.41,0.3,0.9,0.3,1.49c0,0.98-0.31,1.78-0.94,2.4c-0.63,0.62-1.47,0.98-2.54,1.08v1.22H56.2 v-1.22c-1.25-0.14-2.21-0.56-2.88-1.28c-0.67-0.73-1.01-1.68-1.01-2.87h2.91c0,0.66,0.14,1.15,0.43,1.5 c0.29,0.34,0.7,0.52,1.23,0.52c0.39,0,0.69-0.12,0.92-0.35C58.02,17.8,58.14,17.48,58.15,17.07L58.15,17.07L58.15,17.07z M87.01,40.27c0-0.53-0.13-0.94-0.39-1.24c-0.26-0.3-0.71-0.58-1.37-0.85c-0.65-0.26-1.25-0.54-1.8-0.8 c-0.55-0.27-1.03-0.59-1.43-0.95c-0.4-0.36-0.7-0.77-0.92-1.24c-0.22-0.47-0.31-1.04-0.31-1.71c0-1.13,0.38-2.05,1.14-2.77 c0.75-0.72,1.76-1.15,3.02-1.27v-1.51h1.59v1.55c1.21,0.18,2.17,0.68,2.87,1.5c0.7,0.82,1.05,1.86,1.05,3.12h-3.38 c0-0.7-0.14-1.22-0.4-1.6c-0.26-0.37-0.65-0.56-1.14-0.56c-0.44,0-0.78,0.14-1.02,0.41c-0.24,0.27-0.36,0.66-0.36,1.14 c0,0.49,0.14,0.88,0.42,1.17c0.28,0.29,0.72,0.57,1.34,0.83c0.62,0.26,1.2,0.54,1.75,0.81c0.55,0.28,1.02,0.61,1.42,0.96 c0.4,0.36,0.71,0.78,0.94,1.26c0.23,0.48,0.34,1.05,0.34,1.72c0,1.14-0.36,2.07-1.09,2.78c-0.72,0.71-1.7,1.14-2.95,1.25v1.41 h-1.59v-1.42c-1.45-0.16-2.56-0.65-3.34-1.49c-0.77-0.84-1.16-1.95-1.16-3.33h3.37c0,0.76,0.17,1.33,0.5,1.73 c0.33,0.39,0.81,0.6,1.43,0.6c0.45,0,0.8-0.14,1.07-0.4C86.87,41.11,87,40.74,87.01,40.27L87.01,40.27L87.01,40.27z M85.36,23.7 c7.23,0,13.1,5.86,13.1,13.1c0,7.23-5.86,13.1-13.1,13.1c-7.23,0-13.1-5.86-13.1-13.1C72.26,29.56,78.13,23.7,85.36,23.7 L85.36,23.7z M29.83,83.39V46.47h16.61c7.04,1.26,14.08,5.08,21.12,9.51h12.9c5.84,0.35,8.9,6.27,3.22,10.16 c-4.52,3.32-10.49,3.13-16.61,2.58c-4.22-0.21-4.4,5.46,0,5.48c1.53,0.12,3.19-0.24,4.64-0.24c7.64-0.01,13.92-1.47,17.77-7.5 l1.93-4.51l19.19-9.51c9.6-3.16,16.42,6.88,9.35,13.87c-13.9,10.11-28.15,18.43-42.73,25.15c-10.59,6.44-21.18,6.22-31.76,0 L29.83,83.39L29.83,83.39z"
                                />
                            </g>
                        </svg>
                        <h3 class="services__title">Affordable and Cost-Effective Solutions</h3>
                        <p class="services__description">
                            CodingWeb understands the importance of cost-effectiveness in today's competitive business
                            landscape. We strive to provide our clients with affordable solutions that deliver
                            exceptional value for their investment.
                        </p>
                    </div>

                    <div class="services__content">
                        <svg
                            version="1.1"
                            id="Capa_1"
                            class="services__img"
                            x="0px"
                            y="0px"
                            viewBox="0 0 122.88 110.98"
                            style="enable-background: new 0 0 122.88 110.98"
                            xml:space="preserve"
                            width="24"
                            height="24"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                }
                            </style>
                            <g>
                                <path
                                    class="st0"
                                    d="M8.1,0h101.74c2.88,0,5.23,2.36,5.23,5.23v28.41c0,2.88-2.36,5.23-5.23,5.23l-15.27,0v5.35h15.27 c2.88,0,5.23,2.36,5.23,5.23v28.41c0,2.88-2.36,5.23-5.23,5.23H94.57v15.18h7.85v7.83h15.51v9h-15.51v7.76l-24.69,0v-7.76l-35.9,0 v7.76l-24.69,0v-7.76l-17.14,0v-9h17.14v-7.83h7.84V83.11H8.1c-2.88,0-5.23-2.36-5.23-5.23V49.46c0-2.88,2.35-5.23,5.23-5.23h16.88 v-5.35H8.1c-2.88,0-5.23-2.36-5.23-5.23l0-28.41C2.86,2.35,5.22,0,8.1,0L8.1,0z M15.85,55.93h5.98V71.4h-5.98V55.93L15.85,55.93z M97.99,14.7c2.62,0,4.74,2.12,4.74,4.74c0,2.62-2.12,4.74-4.74,4.74c-2.62,0-4.74-2.12-4.74-4.74 C93.25,16.82,95.37,14.7,97.99,14.7L97.99,14.7z M79.94,14.7c2.62,0,4.74,2.12,4.74,4.74c0,2.62-2.12,4.74-4.74,4.74 c-2.62,0-4.74-2.12-4.74-4.74C75.2,16.82,77.33,14.7,79.94,14.7L79.94,14.7z M48.89,11.7h5.98v15.47h-5.98V11.7L48.89,11.7z M32.37,11.7h5.98v15.47h-5.98V11.7L32.37,11.7z M15.85,11.7h5.98v15.47h-5.98V11.7L15.85,11.7z M97.99,58.93 c2.62,0,4.74,2.12,4.74,4.74c0,2.62-2.12,4.74-4.74,4.74c-2.62,0-4.74-2.12-4.74-4.74C93.25,61.05,95.37,58.93,97.99,58.93 L97.99,58.93z M79.94,58.93c2.62,0,4.74,2.12,4.74,4.74c0,2.62-2.12,4.74-4.74,4.74c-2.62,0-4.74-2.12-4.74-4.74 C75.2,61.05,77.33,58.93,79.94,58.93L79.94,58.93z M48.89,55.93h5.98V71.4h-5.98V55.93L48.89,55.93z M32.37,55.93h5.98V71.4h-5.98 V55.93L32.37,55.93z M90.07,104.98c3.1,0,5.61,2.51,5.61,5.61c0,3.1-2.51,5.61-5.61,5.61c-3.1,0-5.61-2.51-5.61-5.61 S86.98,104.98,90.07,104.98L90.07,104.98z M29.48,104.98c3.1,0,5.61,2.51,5.61,5.61c0,3.1-2.51,5.61-5.61,5.61 c-3.1,0-5.61-2.51-5.61-5.61S26.39,104.98,29.48,104.98L29.48,104.98z M41.83,106.12h35.9v-7.83l7.84,0V83.11H33.98v15.18h7.85 L41.83,106.12L41.83,106.12L41.83,106.12z M33.98,44.23h51.59v-5.35H33.98V44.23L33.98,44.23z"
                                />
                            </g>
                        </svg>
                        <h3 class="services__title">Scalable and Secure Backend</h3>
                        <p class="services__description">
                            We believe that a robust and secure backend is the foundation of any successful application.
                            Our experienced backend developers leverage the latest technologies and best practices to
                            build scalable and secure systems that can handle heavy traffic and ensure data protection.
                        </p>
                    </div>
                </div>
            </section>

            <!--========== MENU ==========-->
            <section
                class="menu section bd-container"
                id="menu"
            >
                <h2 class="section-title">Our Clients</h2>

                <div class="menu__container bd-grid">
                    <div class="menu__content">
                        <img
                            src="/img/blastlearning.png"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">Blast Learning</h3>
                        <a
                            href="https://www.blastlearning.com"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>

                    <div class="menu__content">
                        <img
                            src="/img/flystrait.svg"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">FlyStrait</h3>
                        <a
                            href="https://flystrait.com"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>

                    <div class="menu__content">
                        <img
                            src="/img/progresspicture.svg"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">Progress Picture</h3>
                        <a
                            href="https://www.progresspicture.com/"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                    <div class="menu__content">
                        <img
                            src="/img/publicsquare.png"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">Publicsquare</h3>
                        <a
                            href="https://www.publicsquare.io"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                    <div class="menu__content">
                        <img
                            src="/img/superreach.svg"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">SuperReach</h3>
                        <a
                            href="https://www.srweb.html5.run"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                    <div class="menu__content">
                        <img
                            src="/img/hakkiri.png"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">Hakkiri</h3>
                        <a
                            href="https://www.hakkiri.io"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                    <div class="menu__content">
                        <img
                            src="/img/eargo.svg"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">Eargo</h3>
                        <a
                            href="https://www.eargo.com"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                    <div class="menu__content">
                        <img
                            src="/img/everydayca.png"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">Everyday California</h3>
                        <a
                            href="https://www.everydaycalifornia.com/"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                    <div class="menu__content">
                        <img
                            src="/img/dainsta.svg"
                            alt=""
                            class="menu__img"
                        />
                        <h3 class="menu__name">Dainsta</h3>
                        <a
                            href="https://dainsta.com"
                            target="_blank"
                            class="button menu__button"
                            ><i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                </div>
            </section>

            <!--===== APP =======-->
            <!-- <section class="app section bd-container">
            <div class="app__container bd-grid">
                <div class="app__data">
                    <span class="section-subtitle app__initial">App</span>
                    <h2 class="section-title app__initial">App is aviable</h2>
                    <p class="app__description">Find our application and download it, you can make reservations, food
                        orders, see your deliveries on the way and much more.</p>
                    <div class="app__stores">
                        <a href="#"><img src="/img/app1.png" alt="" class="app__store"></a>
                        <a href="#"><img src="/img/app2.png" alt="" class="app__store"></a>
                    </div>
                </div>

                <img src="/img/movil-app.png" alt="" class="app__img">
            </div>
        </section> -->

            <!--========== CONTACT US ==========-->
            <section
                class="contact section bd-container"
                id="contact"
            >
                <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <h2 class="section-title contact__initial">Contact us</h2>
                        <span class="section-subtitle contact__initial"
                            >Are you looking for a talented team to help you achieve your goals?</span
                        >
                        <p class="contact__description">
                            Or are you looking for a place to work where you can be challenged, grow, and make a
                            difference?
                        </p>
                        <p class="contact__description">
                            If so, we'd love to hear from you! We are always looking for talented individuals to join
                            our team, and we are always open to new partnerships.
                        </p>
                        <p class="contact__description">
                            If you want to hire us or if you want to join us as a employee then please contact on below
                            provided information.
                        </p>
                        <br />
                        <p class="contact__description">Email - nitin@codingweb.io</p>
                        <p class="contact__description">Phone - (+91) 7986750145</p>

                        <span class="section-subtitle contact__initial">We're not just a team, we're a family.</span>
                    </div>

                    <div
                        class="contact__button"
                        onclick="openContactModal()"
                    >
                        <a
                            href="#contact"
                            class="button"
                            >Let's talk!</a
                        >
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a
                        href="#"
                        class="footer__logo"
                        >CodingWeb</a
                    >
                    <!-- <span class="footer__description">Restaurant</span> -->
                    <div>
                        <a
                            href="#"
                            class="footer__social"
                            ><i class="bx bxl-facebook"></i
                        ></a>
                        <a
                            href="#"
                            class="footer__social"
                            ><i class="bx bxl-instagram"></i
                        ></a>
                        <a
                            href="#"
                            class="footer__social"
                            ><i class="bx bxl-twitter"></i
                        ></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Projects</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Hiring</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Hire us</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Clients</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Technologies</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Contact us</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Privacy policy</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="footer__link"
                                >Terms of services</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>near OATI India, Phase-8, Industrial Area,</li>
                        <li>Sector 62, Chandigarh, Punjab 160059</li>
                        <li>(+91) 7986750145</li>
                        <li>hr@codingweb.io</li>
                    </ul>
                </div>
            </div>

            <!-- <p class="footer__copy">&#169; 2020 Bedimcode. All right reserved</p> -->
        </footer>

        <!--========== MODAL ==========-->
        <div
            id="contact-us-modal"
            class="modal"
        >
            <div class="modal-content">
                <h2>Contact Us</h2>
                <form class="contact-form">
                    <div class="form-input-effect">
                        <input
                            class="input-effect"
                            type="text"
                            name="name"
                            placeholder=""
                        />
                        <label>Your Name</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="form-input-effect">
                        <input
                            type="number"
                            name="number"
                            class="input-effect"
                            placeholder=""
                        />
                        <label>Your Number</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="form-input-effect">
                        <input
                            class="input-effect"
                            type="email"
                            name="email"
                            placeholder=""
                        />
                        <label>Your Email</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="form-input-effect">
                        <input
                            class="input-effect"
                            type="text"
                            name="message"
                            placeholder=""
                        />
                        <label>Your Message</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>

                    <button
                        class="wrapper"
                        type="submit"
                    >
                        <div class="cta">
                            <span>Submit</span>
                            <span>
                                <svg
                                    width="66px"
                                    height="43px"
                                    viewBox="0 0 66 43"
                                    version="1.1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                >
                                    <g
                                        id="arrow"
                                        stroke="none"
                                        stroke-width="1"
                                        fill="none"
                                        fill-rule="evenodd"
                                    >
                                        <path
                                            class="one"
                                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                            fill="#FFFFFF"
                                        ></path>
                                        <path
                                            class="two"
                                            d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                            fill="#FFFFFF"
                                        ></path>
                                        <path
                                            class="three"
                                            d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                            fill="#FFFFFF"
                                        ></path>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </button>
                </form>
                <span
                    class="close"
                    onclick="closeContactModal()"
                    >&times;</span
                >
            </div>
        </div>

        <!--========== Toast message ==========-->
        <wc-toast></wc-toast>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>

        <script>
            const formInputs = document.querySelectorAll(".input-effect");
            formInputs.forEach((input) => {
                input.addEventListener("input", () => {
                    if (input.value.trim() !== "") {
                        input.classList.add("has-content");
                    } else {
                        input.classList.remove("has-content");
                    }
                });
            });

            const openContactModal = () => {
                const contactModal = document.getElementById("contact-us-modal");
                contactModal.style.display = "flex";
            };

            const closeContactModal = () => {
                const contactModal = document.getElementById("contact-us-modal");
                contactModal.style.display = "none";
            };

            const form = document.querySelector(".contact-form");

            form.addEventListener("submit", function (event) {
                event.preventDefault(); // Prevent the form from submitting normally

                // Get the form input values
                const name = form.querySelector('input[name="name"]')?.value;
                const number = form.querySelector('input[name="number"]')?.value;
                const email = form.querySelector('input[name="email"]')?.value;
                const message = form.querySelector('input[name="message"]')?.value;

                // Create an object with the form data
                const formData = {
                    name: name,
                    number: number,
                    email: email,
                    message: message,
                };

                form.reset();
                closeContactModal();

                // Send the form data to the API endpoint using fetch
                fetch("http://localhost:3000/api/saveData", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data);
                        import("https://cdn.skypack.dev/wc-toast").then(({ toast }) =>
                            toast("We'll connect to you shortly!")
                        );
                        form.reset();
                        closeContactModal();
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            });
        </script>
    </body>
</html>
